nav, footer{
    display: flex;
    width: 100%;
    height: 7vh;
    background-color: brown;
    align-items: center;
    justify-content: center;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100%/3);
    height: 100%;
}
.nav-link{
    color: rgb(95, 234, 169);
}
#nav-container-link{
    align-items: center;
    justify-content: space-evenly;
}